.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.logo {
  width: 100px;
}
.log:hover {
  cursor: pointer;
}

.header .buttons button {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #09b0ba;
  background-color: white;
  color: #09b0ba;
  border-radius: 5px;
  cursor: pointer;
}

.header .buttons button:hover {
  cursor: pointer;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.deconnection {
  margin: 0 20px;
  padding: 10px;
  background-color: #c2175b;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.sales {
  margin: 0 10px;
  padding: 10px;
  background-color: #09b0ba;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}
.toggle-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.toggle-switch {
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-switch.active {
  background-color: #09b0ba;
}

.toggle-btn {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.3s ease;
}

.toggle-switch.active .toggle-btn {
  left: 25px;
}

.toggle-container p {
  margin-left: 10px;
  color: #333;
  font-size: 14px;
}
.slider-values {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.range-container {
  width: 100%;
}
.search {
  width: 632px;
  height: 100px;
  position: relative;
}
